SWP_Xamarin_Hotel/SWP_Xamarin_Hotel/obj/
SWP_Xamarin_Hotel/SWP_Xamarin_Hotel.Android/obj/
SWP_Xamarin_Hotel/SWP_Xamarin_Hotel.iOS/obj/
SWP_Xamarin_Hotel/SWP_Xamarin_Hotel.UWP/obj/
SWP_Xamarin_Hotel/SWP_Xamarin_Hotel_API/obj/

Xamarin_App1/Xamarin_App1/Xamarin_App1/obj/
Xamarin_App1/Xamarin_App1/Xamarin_App1.Android/obj/
Xamarin_App1/Xamarin_App1/Xamarin_App1.iOS/obj/
Xamarin_App1/Xamarin_App1/Xamarin_App1.UWP/obj/
